# COVID-19 Analysis

In [1]:
import pandas as pd
from sodapy import Socrata

In [8]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cdc.gov", None)

df = pd.DataFrame()
i = 0
n = 1
while n > 0:
    i += 500000
    results = client.get("vbim-akqf", limit=500000, offset=i-500000)
    results_df = pd.DataFrame.from_records(results)
    df = df.append(results_df, sort=True)
    n = len(results_df)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [9]:
df.shape

(3662325, 11)

In [10]:
df.head()

,age_group,cdc_report_dt,current_status,death_yn,hosp_yn,icu_yn,medcond_yn,onset_dt,pos_spec_dt,race_ethnicity_combined,sex
0,0 - 9 Years,2020-03-03T00:00:00.000,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN,2020-03-03T00:00:00.000,Unknown,Male
1,0 - 9 Years,2020-03-03T00:00:00.000,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN,2020-03-03T00:00:00.000,Unknown,Female
2,0 - 9 Years,2020-04-07T00:00:00.000,Laboratory-confirmed case,Missing,No,Missing,Missing,2020-03-03T00:00:00.000,2020-03-03T00:00:00.000,Unknown,Unknown
3,0 - 9 Years,2020-08-04T00:00:00.000,Probable Case,Missing,Missing,Missing,Missing,NaN,2020-08-04T00:00:00.000,Unknown,Male
4,0 - 9 Years,2020-07-28T00:00:00.000,Laboratory-confirmed case,No,No,No,Missing,2020-07-28T00:00:00.000,2020-08-04T00:00:00.000,Unknown,Male

In [11]:
df['icu_yn'].value_counts()

Missing    2312984
Unknown     897276
No          405791
Yes          46274
Name: icu_yn, dtype: int64

In [12]:
df['current_status'].value_counts()

Laboratory-confirmed case    3521190
Probable Case                 141135
Name: current_status, dtype: int64

In [11]:
df['death_yn'].value_counts()

No         1644402
Missing    1231997
Unknown     660056
Yes         125870
Name: death_yn, dtype: int64

In [12]:
df['hosp_yn'].value_counts()

No         1525755
Missing    1092657
Unknown     701522
Yes         342391
Name: hosp_yn, dtype: int64

In [13]:
df['medcond_yn'].value_counts()

Missing    2350907
Unknown     521399
Yes         489620
No          300399
Name: medcond_yn, dtype: int64

In [14]:
df['age_group'].value_counts()

20 - 29 Years    684226
30 - 39 Years    622332
40 - 49 Years    580660
50 - 59 Years    564999
60 - 69 Years    396925
10 - 19 Years    271652
70 - 79 Years    222836
80+ Years        206172
0 - 9 Years      108383
Unknown            4046
NA                   94
Name: age_group, dtype: int64

In [20]:
indexNames = df[df['current_status'] == 'Probable Case'].index
indexNames

Int64Index([     3,     19,     20,     29,     31,     32,     37,     47,
                48,    308,
            ...
            162091, 162226, 162315, 162316, 162317, 162318, 162320, 162321,
            162323, 162324],
           dtype='int64', length=141135)

In [22]:
# dropping all rows with probable case classifications
df_clean = df[df.current_status != 'Probable Case']
df_clean.shape

(3521190, 11)